*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}



/**** Header Section ****/



/**** Banner Section ****/



/**** Pricing Table Section ****/



/**** Team Section  ****/



/**** Newsletter Section ****/



/**** About Section ****/



/**** Testimonial Section ****/



/**** Contact Section ****/



/**** Footer Section ****/


